# Block python environments and caches
.venv/
.venv-1/
.pytest_cache/
.kiro/
__pycache__/
.vscode/

# Block database and pdf files
*.db
*.sqlite3
*.pdf

# Block frontend dependencies
node_modules/
dist/

# OS specific files
.DS_Store
